/* ================================
   Tema baseado no esquema do terminal
   ================================ */

@define-color background #0c1014;
@define-color foreground #99d1ce;
@define-color selection-background #0a3749;
@define-color selection-foreground #99d1ce;
@define-color cursor-color #99d1ce;
@define-color cursor-text #11151c;

@define-color color0 #0c1014;
@define-color color1 #c23127;
@define-color color2 #2aa889;
@define-color color3 #edb443;
@define-color color4 #195466;
@define-color color5 #4e5166;
@define-color color6 #33859e;
@define-color color7 #99d1ce;

/* ================================
   Estilos gerais
   ================================ */

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @foreground;
  margin: 0;
}

/* ================================
   Módulos
   ================================ */

#workspaces,
#window,
.modules-center,
.modules-right {
  border: 2px solid @color7;
  margin: 8px;
  margin-bottom: 0;
}

#workspaces {
  background: @color0;
  padding-right: 0.45rem;
}

#workspaces button {
  color: @color4;
  padding: 0.4rem;
  background: transparent;
}

#workspaces button.active {
  color: @foreground;
}

#window {
  background-color: @color0;
  padding: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

window#waybar.empty #window {
  opacity: 0;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#cpu,
#memory,
#disk,
#language,
#tray {
  background-color: @color0;
  padding: 0.5rem;
  margin: 0;
}

#pulseaudio:not(.loud),
#battery.warning:not(.charging),
#cpu.warning,
#memory.warning,
#disk.warning {
  color: @color3; /* Amarelo */
}

#pulseaudio.muted,
#battery.critical:not(.charging),
#cpu.critical,
#memory.critical,
#disk.critical {
  color: @color1; /* Vermelho */
}

#battery.full {
  color: @color2; /* Verde */
}
